@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style ="color:mediumpurple"class="display-4"><strong>Deniz </strong></h1>
    <h1 style="color:mediumpurple" class="display-4"><strong>Online Kütüphane</strong></h1>
    <br />
    <br />
    <p><img src="/img/pngtree-huge-library-with-old-books-that-have-multiple-doors-image_2513239.jpg"</p>
</div>
