@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:mediumpurple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Bahçelievler Menekşe Apt. No:8</h3>
    <h3>Merkez ÇORUM</h3>
    <br />
    <h3>E-posta Adresimiz:</h3>
    <h3><a href="denzkalendr19@gmail.com">denzkalendr19@gmail.com</a></h3>
</div>